
*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

*::-webkit-scrollbar{
  width: 15px;
  background: #efefef;
}

*::-webkit-scrollbar-thumb{
  background: rgb(248, 197, 56);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover{
  background: rgb(211, 164, 33);
}

*::-webkit-scrollbar-thumb:active{
  background: rgb(164, 125, 17);
}

header{
    background: #ED213A;
    background: -webkit-linear-gradient(to right, #93291E, #ED213A); 
    background: linear-gradient(to right, #93291E, #ED213A); 
    box-shadow: 1px 4px 25px -5px rgba(38,38,38,0.75);
    -webkit-box-shadow: 1px 4px 25px -5px rgba(38,38,38,0.75);
    -moz-box-shadow: 1px 4px 25px -5px rgba(38,38,38,0.75);
    z-index: 30;
    font-size: 18px;
}

.logo-almacen{
    max-height: 120px;
}

.logo-almacen:hover{
  filter: hue-rotate(60deg) brightness(500%);
}

.nav-menu{
  position: relative;
  height: 10px;
  top: 0;
  transition: none;
  text-align: right;
  margin-right: 100px;
  
}

.nav-menu li{
  display: inline-block;
  line-height: 100px;
  margin: 0 60px;
  transition: none;
  padding-top: 25px;
  font-size: 18px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav{
  text-decoration: none;
  color: #fff;
}

.nav:hover{
  color: rgb(248, 197, 56);
  transition: .3s;
}

#check {
  display: none;
}

.bar-btn{
  display: none;
}

div .titulo {
    font-size: 60px;
    text-shadow: 1px 4px 4px rgba(0,0,0,0.42);
}
div .subtitulo {
    font-size: 35px;
    text-shadow: 1px 4px 4px rgba(0,0,0,0.42);
}
div .flecha {
    font-size: 35px;
    text-shadow: 1px 4px 4px rgba(0,0,0,0.42);
    color: rgb(248, 197, 56);
}

.flecha:hover{
  background-color: #ED213A;
}

#image-homepage{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(39, 39, 39, 0.8),rgba(21, 21, 21, 0.6)), url("https://api.waitry.net/1/uploads/places/banner_pictures/wa_211_bannerPic_3543.jpg");
    background-size: cover;
}

#call{
    padding-top: 50vh;
}

.wrapper{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

.wrapper .static-txt{
    color: #ED213A;
    font-size: 60px;
    font-weight: 400;
  }

.wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }

.dynamic-txts li{
    list-style: none;
    color: #ED213A;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
@keyframes slide {
    100%{
      top: -360px;
    }
  }
.dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
  }

.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    border-left: 2px solid #ED213A;
    animation: typing 3s steps(10) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }

#cards{
    padding: 30px 0 150px 30px;
  }

.card-valor{
  box-shadow: 1px 5px 15px -4px rgba(0,0,0,0.45);
  -webkit-box-shadow: 1px 5px 15px -4px rgba(0,0,0,0.45);
  -moz-box-shadow: 1px 5px 15px -4px rgba(0,0,0,0.45);
}

.nosotros { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "historia antonio";
  background: #ED213A;
  background: -webkit-linear-gradient(to right, #93291E, #ED213A); 
  background: linear-gradient(to right, #93291E, #ED213A);
  height: 700px;
  width: 100%;
}

.historia { 
  grid-area: historia; 
}
.antonio {
   grid-area: antonio; 
}

.historia-texto{
    padding-top: 55px;
    word-spacing: 3px;
    padding-left: 20px;
}

#antonio {
  max-width: 80%;
  box-shadow: 6px 4px 19px -4px rgba(0,0,0,0.75);
  -webkit-box-shadow: 6px 4px 19px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 4px 19px -4px rgba(0,0,0,0.75);
  position: relative;
  left: 80px;
  bottom: -110px;
  transform: scale(1);
  transition: 0.5s ease-in-out;
  height: auto;
}

#antonio:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

#queDicen{
  color: #ED213A;
  font-weight: bold;
  font-size: 36px;
}

.valorDiferencial {  
  display: grid;
  grid-template-columns: 0.3fr 2.4fr 0.3fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". ventajas .";
}
  
.ventajas {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "primera_review segunda_review tercera_review";
  grid-area: ventajas;
  color: #fff; 
  padding-bottom: 50px;
    
}

.ventajas p {
  font-size: 18px;
  margin: 10px;
}
  
.primera_review {
  background: #ED213A;
  background: -webkit-linear-gradient(to right, #93291E, #ED213A); 
  background: linear-gradient(to right, #93291E, #ED213A); 
  grid-area: primera_review;
  justify-self: center;
  border-radius: 1.5%;
  margin-right: 10px;
  box-shadow: 0px 11px 22px -3px rgba(0,0,0,0.7);
  -webkit-box-shadow: 0px 11px 22px -3px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 11px 22px -3px rgba(0,0,0,0.7);
  transition: 0.5s ease-in-out;
  min-height: 420px;
  max-height: 420px;
  
}

.primera_review:hover{
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
  z-index: 2;
}
  
.segunda_review { 
  background: #ED213A;
  background: -webkit-linear-gradient(to right, #93291E, #ED213A); 
  background: linear-gradient(to right, #93291E, #ED213A);
  grid-area: segunda_review; 
  justify-self: center; 
  border-radius: 1.5%;
  margin-right: 10px;
  box-shadow: 0px 11px 22px -3px rgba(0,0,0,0.7);
  -webkit-box-shadow: 0px 11px 22px -3px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 11px 22px -3px rgba(0,0,0,0.7);
  transition: 0.5s ease-in-out;
  min-height: 420px;
  max-height: 420px;
}

.segunda_review:hover{
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
  z-index: 2;
}
  
.tercera_review { 
  background: #ED213A;
  background: -webkit-linear-gradient(to right, #93291E, #ED213A); 
  background: linear-gradient(to right, #93291E, #ED213A);
  grid-area: tercera_review; 
  justify-self: center; 
  border-radius: 1.5%;
  margin-right: 10px;
  box-shadow: 0px 11px 22px -3px rgba(0,0,0,0.7);
  -webkit-box-shadow: 0px 11px 22px -3px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 11px 22px -3px rgba(0,0,0,0.7);
  transition: 0.5s ease-in-out;
  min-height: 420px;
  max-height: 420px;
}

.tercera_review:hover{
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
  z-index: 2;
}

.review{
  height: 200px;
  border-radius: 100%;
  margin:10px auto;
  display:block;
  border: 5px solid rgb(248, 197, 56);
}
  
#estrella {
  color: rgb(248, 197, 56);
  padding-bottom: 20px;
}
  
footer .boton{
  background: #ED213A;
  background: -webkit-linear-gradient(to right, #93291E, #ED213A); 
  background: linear-gradient(to right, #93291E, #ED213A);
}

footer .boton:hover{
  color: rgb(248, 197, 56);
}

.footer-link{
  color: rgb(248, 197, 56);
}
.footer-link:hover{
  color:#ED213A;
}

/* ------------------------------------------------- TRABAJA CON NOSOTROS ------------------------------------------------------------------------- */

#image-work{
  height: 120vh;
  width: 100%;
  background-image: linear-gradient(rgba(39, 39, 39, 0.8),rgba(21, 21, 21, 0.6)), url("https://www.agroclm.com/wp-content/uploads/2019/02/marquinetti-1.jpg");
  background-size: cover;

}

.subtitulo__laboral{
  font-weight: bold;
  padding-top: 10px;
}

.accordion-body p {
  margin: 5px auto;
}

#ofertas {
  max-width: 60%;
  height: auto;
  padding-top: 55px;
  font-size: 20px;
  z-index: 1;
}

#titulo-acordeon {
  font-size: 25px;
}

#separador {
  text-align: center;
  padding: 280px 0 180px 0;
}

#formulario {
  background: #ED213A;
  padding-top: 30px;
  padding-bottom: 20px;
}

#formulario-form {
  background: #ED213A;
  color: #fff;
  font-size: 20px;
}

/* ------------------------------------------------- SUCURSALES ------------------------------------------------------------------------- */

#imagen-sucursal{
  height: 120vh;
  width: 100%;
  background-image: linear-gradient(rgba(39, 39, 39, 0.8),rgba(21, 21, 21, 0.6)), url("https://www.alfaforni.com/wp-content/uploads/2018/08/pizza-come-in-pizzeria.jpg");
  background-size: cover;

}

.carrusel__mobile {
  display: none;
}

#carrusel {
  width: 60%;
  padding: 100px 0 100px 0;
}

.sucursales{
    position: relative;
    left: 0px;
    width: auto;
    height: 60vh;
    transition: width 0.2s, height 0.2s;
}

.texto-carrusel {
  font-size: 30px;
  text-shadow: 0px 4px 9px rgba(0, 0, 0, 0.99);
}

p.texto-carrusel:hover {
  font-size: 40px;
  text-shadow: 0px 4px 9px rgba(0, 0, 0, 0.99);
}

.bondades{
  color: #fff;
  padding: 50px 0 50px 50px;
  background: #ED213A;
  background: -webkit-linear-gradient(to right, #93291E, #ED213A); 
  background: linear-gradient(to right, #93291E, #ED213A);
  width: 100%; 
}

.bondades h2{
  text-align: center;
  font-size: 36px;
}

.vos-enfasis{
  font-weight: bold;
  font-size: 50px;
}

.bondades p{
  padding-top: 15px;
  font-size: 23px;
  display: inline;
}

.bondades-listadas{
  padding-top: 50px;
  padding-left: 20%;
  padding-right: 20%;
}

.iconos{
  height: 100px;
  display: inline;
  padding-right: 60px;
}

.whatsapp-icono{
  height: 100px;
  display: inline;
  padding-right: 60px;
}

.whatsapp-icono:hover{
  transform: scale(1.1);
}

.call-to-action{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding-top: 15px;
  font-size: 23px;
  display: inline;
}

.call-to-action:hover{
  color: #00bb2d;
}

/* ---------------------------------------------------
    PAGINA DE PRODUCTOS / MENU
----------------------------------------------------- */

#sidebar-container {
  min-height: 100vh;
  max-width: 12%;
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526); 
  background: linear-gradient(to right, #414345, #232526); 
  box-shadow: 5px 0px 8px -3px rgba(0,0,0,0.86);
  -webkit-box-shadow: 5px 0px 8px -3px rgba(0,0,0,0.86);
  -moz-box-shadow: 5px 0px 8px -3px rgba(0,0,0,0.86);
  color: #fff; 
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 2;
}

#sidebar-container .logo{
  padding: 0.275rem 0.25rem;
  text-align: center;
}

#sidebar-container .logo:hover{
  filter: hue-rotate(60deg) brightness(500%);
}

#sidebar-container .menu {
  width: 18rem;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.menu-check {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  font-size: 25px;
}

.menu-check:hover{
  color: #ED213A;
  cursor: pointer;
}

.volver{
  color: #fff;
}

.volver:hover{
  color: #ED213A;
}

#nav__productos{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 150px;
}

/* .titulo__productos, .subtitulos__productos{
  display: flex;
  float: left;
} */

.boton__carrito, .boton__volver{
  width: 80%;
}

#content {
  overflow-y: auto;
  height: 15vh;
  padding-bottom: 5rem;
}

.boton__barra{
  display: none;
}

#productos-card{
  width: 300px;
  height: 200px;
}

#cardProducto{
  box-shadow: 3px 4px 16px -4px rgba(0,0,0,0.75);
  -webkit-box-shadow: 3px 4px 16px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 16px -4px rgba(0,0,0,0.75);
}





