$primary-color: #ED213A;
$secundary-color: #f8c538;
$terciary-color: #93291E; // usado para los gradientes
$whatsapp-color: #00bb2d;
$dark-color: #232526;
$darklight-color: #28292a;


* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

$media_queries : (
    'mobile': "only screen and (max-width: 768px)",
    'tablet': "only screen and (min-width: 768px) and (max-width: 1199px)",
    'small-desktop': "only screen and (min-width: 1200px) and (max-width: 1500px)",
    'special-size': "only screen and (max-width: 1650px)",
    'special-size-none': "only screen and (min-width: 1200px)",
    'desktop': "only screen and (min-width: 1500px)",
);

@mixin for_breakpoint($breakpoints) {
    $conditions : ();
    @each $breakpoint in $breakpoints {
        // If the key exists in the map
        $conditions: append(
            $conditions,
            #{inspect(map-get($media_queries, $breakpoint))},
            comma
        );
    }

    @media #{$conditions} {
        @content;
    }

}

.div__boton-oscuro{
    padding-left: 15px;
    @include for_breakpoint(mobile tablet) {
        padding-left: 0;
        padding-top: 10px;
    }
}

.switch{
    background-color: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    @include for_breakpoint(mobile tablet) {
        margin: auto;
    }

    &::after {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background-color: #F1F1F1;
        top: 0;
        left: 0;
        right: unset;
        border-radius: 110px;
        transition: .3s ease all;
        box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
    }
    &.active {
        background-color: orange;
        color: #000;
        &::after {
            right: 0;
            left: unset;
            transition: .1s ease all;
        }
    }
    span {
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;
        color: #fff,
    }
}

