*::-webkit-scrollbar {
    width: 15px;
    background-color: #efefef;
    &-thumb{
        background: $secundary-color;
        border-radius: 5px;
        &:hover {
            background: rgb(211, 164, 33);
        }
        &:active {
            background: rgb(164, 125, 17);
        }
    }   
}