@import "_config";
@import "_scrollbar";
@import "_header";
@import "_footer";

#imagenPrincipalHomepage {
    background-image: linear-gradient(rgba(39, 39, 39, 0.8), rgba(21, 21, 21, 0.6)), url("https://api.waitry.net/1/uploads/places/banner_pictures/wa_211_bannerPic_3543.jpg");
    @include for_breakpoint(mobile) {
        background-position: -30em;
    }
}

.main__imagen-principal {
    height: 100vh;
    width: 100%;
    background-size: cover;
    .div__imagen-principal {
        padding-top: 50vh;

        .div__imagen-principal-titulo {
            font-size: 60px;
            text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.42);
            @include for_breakpoint(mobile) {
                margin-top: -80px;
            }
        }

        .div__imagen-principal-subtitulo {
            font-size: 35px;
            text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.42);
        }

        .div__imagen-principal-flecha {
            font-size: 35px;
            text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.42);
            color: $secundary-color;

            &:hover {
                background-color: $primary-color;
            }
        }
    }
}
@include for_breakpoint(tablet small-desktop) {
    #animacion-slogan{
        text-align: center;
    }
}

.wrapper {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    @include for_breakpoint(mobile tablet) {
        display: inline-block;
        justify-content: center;
        text-align: center;
    }

    .static-txt {
        color: $primary-color;
        font-size: 60px;
        font-weight: 400;
    }

    .dynamic-txts {
        margin-left: 15px;
        height: 90px;
        line-height: 90px;
        overflow: hidden;
        @include for_breakpoint(mobile tablet) {
            margin-left: 0;
        }
        li {
            list-style: none;
            color: $primary-color;
            font-size: 60px;
            font-weight: 500;
            position: relative;
            top: 0;
            animation: slide 12s steps(4) infinite;

            span {
                position: relative;
                margin: 5px 0;
                line-height: 90px;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background: #fff;
                    border-left: 2px solid $primary-color;
                    animation: typing 3s steps(10) infinite;
                }
            }
        }
    }
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

@keyframes typing {

    40%,
    60% {
        left: calc(100% + 30px);
    }

    100% {
        left: 0;
    }
}

.section__cards {
    padding: 30px 0 150px 30px;

    .section__cards-contenido {
        box-shadow: 1px 5px 15px -4px rgba(0, 0, 0, 0.45);
        -webkit-box-shadow: 1px 5px 15px -4px rgba(0, 0, 0, 0.45);
        -moz-box-shadow: 1px 5px 15px -4px rgba(0, 0, 0, 0.45);
    }
}

.section__sobre-nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "section__sobre-nosotros-historia section__sobre-nosotros-antonio";
    background: $primary-color;
    background: -webkit-linear-gradient(to right, #93291E, $primary-color);
    background: linear-gradient(to right, #93291E, $primary-color);
    height: 700px;
    width: 100%;
    @include for_breakpoint(mobile tablet small-desktop) {
        display: block;
        height: 1220px;
        padding-top: 0;
    }

    .section__sobre-nosotros-historia {
        grid-area: section__sobre-nosotros-historia;
        @include for_breakpoint(mobile) {
            padding-top: 25px;
        }
    }
        .section__sobre-nosotros-historia-texto {
            padding-top: 55px;
            word-spacing: 3px;
            padding-left: 20px;
        }
    
    .section__sobre-nosotros-antonio {
        grid-area: section__sobre-nosotros-antonio;
    }
}

#antonio {
    max-width: 80%;
    box-shadow: 6px 4px 19px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 6px 4px 19px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 4px 19px -4px rgba(0, 0, 0, 0.75);
    position: relative;
    left: 80px;
    bottom: -110px;
    transform: scale(1);
    transition: 0.5s ease-in-out;
    height: auto;

    &:hover {
        transform: scale(1.1);
        transition: 0.5s ease-in-out;
    }
    @include for_breakpoint(mobile tablet) {
        width: 100%;
        height: auto;
        left: 0;
        bottom: -60px;
        margin:10px auto;
        display:block;
    }
    @include for_breakpoint(small-desktop) {
        width: 100%;
        height: auto;
        left: 0;
        bottom: -60px;
        margin:10px auto;
        display:block;
    }
}

#queDicen {
    color: $primary-color;
    font-weight: bold;
    font-size: 36px;
}

.div__valor-diferencial {
    display: grid;
    grid-template-columns: 0.3fr 2.4fr 0.3fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: ". div__valor-diferencial-ventajas .";
    @include for_breakpoint(mobile tablet) {
        display: block;
    }

    .div__valor-diferencial-ventajas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: "primera_review segunda_review tercera_review";
        grid-area: ventajas;
        color: #fff;
        padding-bottom: 50px;
        @include for_breakpoint(mobile tablet) {
            display: block;
        }
        

        p {
            font-size: 18px;
            margin: 10px;
        }

        .div__valor-diferencial__ventajas-review {
            background: $primary-color;
            background: -webkit-linear-gradient(to right, #93291E, $primary-color);
            background: linear-gradient(to right, #93291E, $primary-color);
            grid-area: primera_review;
            justify-self: center;
            border-radius: 1.5%;
            margin-right: 10px;
            box-shadow: 0px 11px 22px -3px rgba(0, 0, 0, 0.7);
            -webkit-box-shadow: 0px 11px 22px -3px rgba(0, 0, 0, 0.7);
            -moz-box-shadow: 0px 11px 22px -3px rgba(0, 0, 0, 0.7);
            transition: 0.5s ease-in-out;
            min-height: 420px;
            max-height: 420px;
            @include for_breakpoint(mobile tablet small-desktop desktop) {
                padding-top: 5px;
                margin-bottom: 20px;
                margin-right: 5px;
                margin-left: 5px;
            }
            &:hover {
                transform: scale(1.1);
                transition: 0.5s ease-in-out;
                z-index: 2;
            }

            .div__valor-diferencial__ventajas-foto {
                height: 200px;
                border-radius: 100%;
                margin: 10px auto;
                display: block;
                border: 5px solid $secundary-color;
            }

            .div__valor-diferencial__ventajas-estrellas {
                color: $secundary-color;
                padding-bottom: 20px;
            }
        }
    }
}

/* ------------------------------------------------- TRABAJA CON NOSOTROS ------------------------------------------------------------------------- */

#imagenPrincipalCareers {
    background-image: linear-gradient(rgba(39, 39, 39, 0.8), rgba(21, 21, 21, 0.6)), url("https://www.agroclm.com/wp-content/uploads/2019/02/marquinetti-1.jpg");
    @include for_breakpoint(mobile) {
        background-position: -30em;
    }
}

.acordeon__ofertas-laborales {
    max-width: 60%;
    height: auto;
    padding-top: 55px;
    font-size: 20px;
    z-index: 1;

    .acordeon__titulo-laboral {
        font-size: 25px;
    }

    .accordion-body {
        p {
            margin: 5px auto;
        }

        .acordeon__subtitulo-laboral {
            font-weight: bold;
            padding-top: 10px;
        }
    }
}

.div__separacion-titulos {
    text-align: center;
    padding: 280px 0 180px 0;
}

.div__formulario {
    background: $primary-color;
    padding-top: 30px;
    padding-bottom: 20px;

    .div__formulario-form {
        background: $primary-color;
        color: #fff;
        font-size: 20px;
    }
}

/* ------------------------------------------------- SUCURSALES ------------------------------------------------------------------------- */

#imagenPrincipalSucursales {
    background-image: linear-gradient(rgba(39, 39, 39, 0.8), rgba(21, 21, 21, 0.6)), url("https://www.alfaforni.com/wp-content/uploads/2018/08/pizza-come-in-pizzeria.jpg");
}

.div__carrusel-mobile {
    display: none;
    @include for_breakpoint(mobile tablet) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "div__carrusel-mobile__imagen1"
        "div__carrusel-mobile__imagen2"
        "div__carrusel-mobile__imagen3"
        "div__carrusel-mobile__imagen4"
        "div__carrusel-mobile__imagen5";
        width: 60%;
        margin: 40px auto;
        padding-bottom: 30px;
        .div__carrusel-mobile-img{
            height: auto;
            padding: 30px 0 30px 0;
        }
        .div__carrusel-mobile-texto {
            font-size: 30px;
            text-align: center;
            text-shadow: none;
        }
    }
}

.div__carrusel {
    width: 60%;
    padding: 100px 0 100px 0;
    @include for_breakpoint(mobile tablet) {
        display: none;
    }

    .carrusel__imagenes-sucursales {
        position: relative;
        left: 0px;
        width: auto;
        height: 60vh;
        transition: width 0.2s, height 0.2s;
    }

    .div__carrusel__texto-carrusel {
        font-size: 30px;
        text-shadow: 0px 4px 9px rgba(0, 0, 0, 0.99);

        &:hover {
            font-size: 40px;
            text-shadow: 0px 4px 9px rgba(0, 0, 0, 0.99);
        }
    }
}

.div__valores-diferenciales {
    color: #fff;
    padding: 50px 0 50px 50px;
    background: $primary-color;
    background: -webkit-linear-gradient(to right, #93291E, $primary-color);
    background: linear-gradient(to right, #93291E, $primary-color);
    width: 100%;
    @include for_breakpoint(mobile tablet) {
        text-align: center;
        padding: 50px 30px 50px 30px;
    }

    h2 {
        text-align: center;
        font-size: 36px;

        span {
            font-weight: bold;
            font-size: 50px;
        }
    }

    p {
        padding-top: 15px;
        font-size: 23px;
        display: inline;
    }

    .div__valores-diferenciales__listadas {
        padding-top: 50px;
        padding-left: 20%;
        padding-right: 20%;
        @include for_breakpoint(special-size) {
            text-align: center;
            padding: 50px 0 0 0;
        }

        .div__valores-diferenciales__listadas__iconos {
            height: 100px;
            display: inline;
            padding-right: 60px;
            @include for_breakpoint(special-size) {
                display: block;
                margin: auto;
                padding: 10px 0 10px 0;
            }
        }

        .div__valores-diferenciales__listadas__iconos-whatsapp {
            height: 100px;
            display: inline;
            padding-right: 60px;
            @include for_breakpoint(special-size) {
                display: block;
                margin: auto;
                padding: 10px 0 10px 0;
            }

            &:hover {
                transform: scale(1.1);
            }
        }

        .div__valores-diferenciales__listadas-cta {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            padding-top: 15px;
            font-size: 23px;
            display: inline;

            &:hover {
                color: $whatsapp-color;
            }
        }
    }
}

/* ---------------------------------------------------
    PAGINA DE PRODUCTOS / MENU
----------------------------------------------------- */

.div__sidebar {
    min-height: 100vh;
    max-width: 12%;
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
    box-shadow: 5px 0px 8px -3px rgba(0, 0, 0, 0.86);
    -webkit-box-shadow: 5px 0px 8px -3px rgba(0, 0, 0, 0.86);
    -moz-box-shadow: 5px 0px 8px -3px rgba(0, 0, 0, 0.86);
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 2;

    .div__sidebar__menu__volver {
        color: #fff;
        &:hover {
            color: $primary-color;
        }
    }

    @include for_breakpoint(mobile tablet) {
        display: none;
    }
    @include for_breakpoint(small-desktop) {
        max-width: 15%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .div__sidebar__logo {
        padding: 0.275rem 0.25rem;
        text-align: center;
        &:hover {
            filter: hue-rotate(60deg) brightness(500%);
        }
    }

    .div__sidebar__menu {
        width: 18rem;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;

        .div__sidebar__menu__check {
            padding-top: 50px;
            padding-bottom: 50px;
            padding-left: 10px;
            font-size: 25px;

            &:hover {
                color: $primary-color;
                cursor: pointer;
            }
        }
    }
}

.div__seccion__nav-productos {
    overflow-y: auto;
    height: 15vh;
    padding-bottom: 5rem;
    @include for_breakpoint(mobile) {
        height: 30vh;
    }
    @include for_breakpoint(tablet) {
        height: 18vh;
    }
    
    .seccion__nav-productos {
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 150px;
        @include for_breakpoint(mobile) {
            height: 33vh;
        }
        @include for_breakpoint(tablet) {
            height: 25vh;
        }
        
        .columnas__mobile{
            text-align: center;
        }
        
        .seccion__nav-productos-titulo__productos, .seccion__nav-productos-subtitulo__productos{
            padding-bottom: 10px;
        }
        .seccion__nav-productos__boton-carrito, .seccion__nav-productos__boton-volver {
            width: 80%;
        }
        .seccion__nav-productos__div-volver{
            @include for_breakpoint(special-size-none) {
                display: none;
            }
        }
    }
}

.div__tarjetas-productos {
    @include for_breakpoint(mobile) {
        text-align: center;
        padding-left: 10vh;
    }
    @include for_breakpoint(tablet) {
        padding-top: 8vh;
        text-align: center;
        padding-left: 1vh;
    }
    @include for_breakpoint(small-desktop) {
        padding-left: 30px;
    }
    .div__tarjetas-productos-card {
        box-shadow: 3px 4px 16px -4px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 3px 4px 16px -4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 3px 4px 16px -4px rgba(0, 0, 0, 0.75);
        
        .div__tarjetas-productos__card-imagen {
            width: 300px;
            height: 200px;
            @include for_breakpoint(mobile tablet) {
                width: auto;
                height: auto;
            }
        }
    }
}




